datacenter = "home"
data_dir = "/opt/consul"
encrypt = "{{ consul_gossip_key }}"
verify_incoming = false
verify_outgoing = false
verify_server_hostname = false
acl = {
  enabled = false
  default_policy = "allow"
  enable_token_persistence = true
}
retry_join = ["{{ existing_consul_server }}"]
ui_config = {
  enabled = true
}
